{% extends "base.html" %}

{% block content %}
<h2>Emre</h2>
<!--<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" required>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <input type="text" class="form-control" id="message" name="message" required>
    </div>
    <button type="submit" class="btn btn-primary">Send Phone</button>
</form>-->

{% endblock %}
